# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo

# Virtual env
.venv/
venv/
env/

# Django
*.log
staticfiles/
media/
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (if present for tooling)
node_modules/
